/*
Theme Name: Parrot
Description: Whether you've created the next Snapchat or simply want to promote your new WordPress plugin to the masses, Parrot offers a clean and professional design that puts the focus squarely on your product - and why customers should buy it.
Version: 1.4.1
Template: upfront
Author: WPMU DEV
Author URI: https://premium.wpmudev.org/
Theme URI: https://premium.wpmudev.org/project/parrot/
Licence: GNU General Public License v2 or later
Licence URI: http://www.gnu.org/licenses/gpl-2.0.html
WDP ID: 1048462
*/


/* 133620-1492562814-au */