#page .line-text-center.upfront-plain_txt h1:after {
    content: "";
    position:relative;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 1px;
    display: block;
    margin-top: 25px;
    background: #ufc0;
}
#page .line-text-center.upfront-plain_txt {
    padding: 0 20px;
    text-align:center;
}


/* 133620-1481397509-au */