#page .plaintxt-title-footer.upfront-plain_txt h1, #page .plaintxt-title-footer.upfront-plain_txt h2, #page .plaintxt-title-footer.upfront-plain_txt h3, #page .plaintxt-title-footer.upfront-plain_txt h4, #page .plaintxt-title-footer.upfront-plain_txt h5, #page .plaintxt-title-footer.upfront-plain_txt h6, #page .plaintxt-title-footer.upfront-plain_txt p, #page .plaintxt-title-footer.upfront-plain_txt a, #page .plaintxt-title-footer {
    color: #666;
    font-weight: 700;
}
#page .plaintxt-title-footer.upfront-plain_txt {
    padding-top: 0;
    padding-bottom: 0;
}


/* 133620-1477324833-au */