#page .plaintxt-lead.upfront-plain_txt h1, #page .plaintxt-lead h2, #page .plaintxt-lead h3, #page .plaintxt-lead h4, #page .plaintxt-lead h5, #page .plaintxt-lead h6, #page .plaintxt-lead p, #page .plaintxt-lead ul, #page .plaintxt-lead li {
    color: #fff;
    text-align: center;
}


/* 133620-1461299006-au */