#page .text-center-no-padding.upfront-plain_txt, #page .text-center-no-padding h1, #page .text-center-no-padding h2, #page .text-center-no-padding h3, #page .text-center-no-padding h4, #page .text-center-no-padding h5, #page .text-center-no-padding h6, #page .text-center-no-padding p {
 text-align:center!important;
 padding-top: 0px;
 padding-bottom: 0px;
}


/* 133620-1477324833-au */