/******************************************************************
Site Name: 
Author: 

Stylesheet: Standard Desktop

This is your standard view. It's what most of your visitors will
see and it will be on a good connection so we can really add some
hefty styles here.

******************************************************************/

body {
    background-color: #fff;
  }
  .content {
    width: 100%;
  }
  .content-sidebar-sidebar {
    .content,
    .content-sidebar-wrap {
      width: 100%;
    }
  }
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    width: 100%;
  }
  .sidebar-content-sidebar {
    .content,
    .content-sidebar-wrap {
      width: 100%;
    }
  }
  .sidebar-primary,
  .sidebar-secondary {
    width: 100%;
  }
  .sidebar-sidebar-content {
    .content,
    .content-sidebar-wrap {
      width: 100%;
    }
  }
  .site-header .widget-area,
  .site-inner,
  .title-area,
  .wrap {
    width: 100%;
  }
  .site-header .wrap {
    padding: 20px 0;
    padding: 2rem 0;
  }
  .header-image .site-header .wrap {
    background-position: center top;
  }
  .site-inner {
    padding-left: 5%;
    padding-right: 5%;
  }
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-footer .entry-meta,
  .header-image .site-header .widget-area,
  .sidebar .widget,
  .site-header {
    padding: 0;
  }
  .genesis-nav-menu li {
    float: none;
  }
  .site-header {
    ul.genesis-nav-menu,
    .search-form {
      float: none;
    }
  }
  .genesis-nav-menu,
  .site-description {
    text-align: center;
  }
  .site-header {
    .title-area,
    .search-form {
      text-align: center;
    }
  }
  .site-title {
    text-align: center;
  }
  .genesis-nav-menu {
    a {
      padding: 20px 16px;
      padding: 2rem 1.6rem;
    }
    > {
      .first > a, .last > a {
        padding: 20px 16px;
        padding: 2rem 1.6rem;
      }
    }
  }
  .site-header .search-form {
    margin: 16px auto;
    margin: 1.6rem auto;
  }
  .genesis-nav-menu li.right {
    display: none;
  }
  .entry-footer .entry-meta {
    margin: 0;
    padding-top: 12px;
    padding-top: 1.2rem;
  }
  .sidebar .widget.enews-widget {
    padding: 40px;
    padding: 4rem;
  }
  .site-footer {
    padding: 24px 0;
    padding: 2.4rem 0;
  }
  .footer-widgets {
    padding: 40px 5% 16px;
  }
  .footer-widgets-1 {
    margin: 0;
  }