.DS_Store
Thumbs.db
php.ini

*.log
.htaccess
wp-config.php
db-config.php
/content/db.php

/_archive
/shared
/config
staging-config.php
/local-config.php
/sql-dump-*.sql
/db-sync

/slicetool/
/media-server/

composer.phar
config.codekit

stats/
.bash_profile

content/cache
content/w3tc-config
content/plugins/w3tc-wp-loader.php
content/object-cache.php
content/db.php
content/advanced-cache.php
git n permissions cheater.txt
content/plugins/genesis-visual-hook-guide
content/plugins/debug-this
content/plugins/query-monitor
