.DS_Store
Thumbs.db
php.ini

*.log
.htaccess
wp-config.php
db-config.php
.well-known
/content/db.php

/_archive
/shared
/config
staging-config.php
/local-config.php
/sql-dump-*.sql
/db-sync

/slicetool/
/media-server/

composer.phar
config.codekit

stats/
.bash_profile

content/cache
content/w3tc-config
content/plugins/w3tc-wp-loader.php
content/object-cache.php
content/db.php
content/advanced-cache.php
content/mu-plugins/query-monitor
content/mu-plugins/genesis-visual-hook-guide
content/mu-plugins/dev_tools_loading.php
content/mu-plugins/debug-this
git n permissions cheater.txt
content/mu-plugins/theme-check
content/plugins/developer
