#page .parrot-footer-nav div[data-style='vertical'] ul.menu {
 margin-top: -10px;
}
#page .parrot-footer-nav div[data-style='horizontal'] ul.menu > li.menu-item > a, #page .parrot-footer-nav div[data-style='vertical'] ul.menu > li.menu-item > a {
 display: inline-block;
 position: relative;
 color: #666666;
 font-size: 15px;
 font-family:Open Sans;
 font-weight: 400;
 font-style: normal;
 padding-left: 0;
 padding-right: 0;
 line-height: 1;
}
#page .parrot-footer-nav div[data-style='horizontal'] ul.menu > li.menu-item > a:after, #page .parrot-footer-nav div[data-style='vertical'] ul.menu > li.menu-item > a:after {
 height: 100%;
 width: 100%;
 position: absolute;
 bottom: 2px;
 left: 0;
 content: '';
 z-index: -1;
 opacity: 0;
 border-bottom: 1px solid;
 -webkit-transition: all 0.23s ease;
 transition: all 0.23s ease;
}
#page .parrot-footer-nav div[data-style='horizontal'] ul.menu > li.menu-item:hover > a:after, #page .parrot-footer-nav div[data-style='vertical'] ul.menu > li.menu-item:hover > a:after {
 opacity: 1;
}
#page .parrot-footer-nav .parrot-main-nav-1 ul.menu > li {
 display: block;
}


/* 133620-1477324833-au */