#page .button-style-one.upfront-button .upfront_cta {
    width: 100%;
    display: block;
    padding: 10px 10px 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 1.2em;
}
#page .button-style-one.upfront-button .upfront_cta:active {
    border-color: #00a384;
    background: #01bc9d;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
}


/* 133620-1458758052-au */