.upfront-region-container-slider .upfront-default-slider-nav {
    bottom: -30px;
}
.upfront-region-container-slider .upfront-default-slider-nav-item {
    border-radius: 0;
    width: 30px;
    height: 5px;
    margin: 0 1px;
    background: #9a7729;
}
.upfront-region-container-slider .upfront-default-slider-nav-item:hover, .upfront-region-container-slider .uslider-dotnav-current {
    background: #1d1d1d;
}
.upfront-region-container-slider .upfront-region-bg-overlay .upfront-default-slider-nav-prev, .upfront-region-container-slider .upfront-region-bg-overlay .upfront-default-slider-nav-next, .upfront-region-container-slider .upfront-output-bg-overlay .upfront-default-slider-nav-prev, .upfront-region-container-slider .upfront-output-bg-overlay .upfront-default-slider-nav-next {
    display: none;
}


/* 133620-1458758062-au */