#page .ugallery-tablet.upfront-gallery {
    padding:0px!important;
    margin:0px 0px 40px!important;
}
#page .ugallery-tablet .ugallery {
    width: 100%!important;
    display: block;
}
#page .ugallery-tablet .ugallery_link, #page .ugallery-tablet .ugallery_item {
    height: 400px!important;
    max-height: 400px!important;
}
#page .ugallery-tablet .ugallery_item {
    width: 50%!important;
    overflow: hidden;
    padding:0pximportant;
    margin:0px!important;
}
#page .ugallery-tablet .ugallery_link {
    display: block;
    position: relative;
    margin-bottom: 0;
}
#page .ugallery-tablet img.ugallery-image {
    width: 100% !important;
    height: auto !important;
    display: block;
    position: relative;
    top: 50% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#page .ugallery-tablet .ugallery_link p:before {
    margin-top: 75%;
    margin-bottom: 10%;
}
#page .ugallery-tablet .ugallery_link p {
    font-size:14px;
}


/* 133620-1456900936-au */