/* search form */
.widget_search .search-form {
    display: table;
}
.widget_search label {
    display: table-cell;
    vertical-align: middle;
}
.widget_search .upfront-search-submit_group {
    display: table-cell;
    width: 1%;
}
.widget_search input[type="search"] {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #666666;
    border: 1px solid #cecac7;
    /*opacity: 0.4;*/
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: 400;
}
.widget_search input[type="search"]:focus {
    opacity: 1;
}
.widget_search input[type="submit"] {
    white-space: nowrap;
    vertical-align: middle;
    background: url("UPFRONT_THEME_BASE/ui/sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.svg"), none;
    background-color: #ufc0;
    color: #ffffff;
    background-position: -370px -540px;
    display: inline-block;
    min-width: 60px;
    height: 40px;
    text-indent: -9999px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ufc0;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}
.widget_search input[type="submit"]:hover {
    border-color: #ufc1;
    background-color: rgba(255,255,255,0);
    background-position: -370px -700px;
    color: #ufc1;
}


/* 133620-1492562814-au */