#page .uwidget-parrot-footer-menu .widget h2.widgettitle {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.6em;
}
#page .uwidget-parrot-footer-menu .widget ul.menu {
    list-style-type: none;
    padding: 0;
}
#page .uwidget-parrot-footer-menu .widget ul.menu a {
    position: relative;
    color: #666666;
}
#page .uwidget-parrot-footer-menu .widget ul.menu a:after {
 height: 100%;
 width: 0%;
 position: absolute;
 bottom: 0;
 left: 50%;
 content: '';
 z-index: -1;
 border-bottom: 1px solid;
 -webkit-transition: all 0.23s ease;
 transition: all 0.23s ease;
}
#page .uwidget-parrot-footer-menu .widget ul.menu li:hover a:after {
 left: 0;
 width: 100%;
}


/* 133620-1492562814-au */