#page .uwidget-parrot .widget_search form.searchform > div {
    display: table;
    width: 100%;
}
#page .uwidget-parrot .widget_search input[type="text"] {
    padding:10px;
    width: 100%;
    display: table-cell;
    border: 1px solid #63c9e2;
    border-radius: 4px 0 0 4px;
    opacity: 0.4;
    padding-right: 60px;
}
#page .uwidget-parrot .widget_search input[type="text"]:focus {
    opacity: 1;
}
#page .uwidget-parrot .widget_search input[type="submit"] {
    white-space: nowrap;
    background: url("UPFRONT_THEME_BASE/ui/sprite.png") no-repeat;
    background-color: #2a8a5e;
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.svg"), none;
    color: #ffffff;
    background-position: -365px -535px;
    display: inline-block;
    min-width: 60px;
    height: 40px;
    text-indent: -9999px;
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    position: absolute;
    right: 0;
}
#page .uwidget-parrot .widget_search input[type="submit"]:hover {
    background-color: #117145;
}


/* 133620-1456900944-au */