#page .archive-style.uposts-object li {
    padding: 0;
}
#page .archive-style.uposts-object li article {
    *zoom: 1;
}
#page .archive-style.uposts-object li > article {
    padding-top: 15px;
    padding-bottom: 26px;
}
#page .archive-style.uposts-object li article:before, #page .archive-style.uposts-object li article:after {
    content: " ";
    display: table;
}
#page .archive-style.uposts-object li article:after {
    clear: both;
}
#page .archive-style.uposts-object li .thumbnail {
    width: 100%;
    max-width: 250px;
    height: 140px;
    float: left;
    display: block;
    margin-right: 15px;
    margin-bottom: 0;
    line-height: 140px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
#page .archive-style.uposts-object li .thumbnail img {
    position: relative;
    top: 50%;
    margin-top: 0 !important;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#page .archive-style.uposts-object li .title h3 {
    line-height: 0.5em;
}
#page .archive-style.uposts-object li .date_posted {
    float: left;
    display: inline-block;
    margin-right: 4px;
}
#page .archive-style.uposts-object li .date_posted, #page .archive-style.uposts-object li .author {
    line-height: 0.95em;
    margin-bottom: 1.5em;
}
#page .archive-style.uposts-object li:not(.noFeature) .post_categories {
    border-left: 0;
}
#page .archive-style.uposts-object li:not(.noFeature) .gravatar {
    display: none;
}
#page .archive-style .uf-pagination {
    margin-top: 50px;
    margin-bottom: 115px !important;
}
#page .archive-style.uposts-object li .comment_count {
    display: none;
}


/* 133620-1492562783-au */