#page .news-style.uposts-object li {
    padding: 10px;
}
#page .news-style.uposts-object li > article {
    padding-bottom: 22px;
    margin-bottom: 35px;
}
#page .news-style.uposts-object li:last-child > article {
    margin-bottom: 12px;
}
#page .news-style.uposts-object li .gravatar {
    float: left;
    display: inline-block;
    margin-right: 22px;
}
#page .news-style.uposts-object li .thumbnail {
    max-height: 270px;
    margin-bottom: 30px;
    position: relative;
}
#page .news-style.uposts-object li .thumbnail a img {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
#page .news-style.uposts-object li .thumbnail a:hover img {
    opacity: .65;
}
#page .news-style.uposts-object li .title:before {
    background-color: #ufc2;
    content: "";
    display: block;
    height: 2px;
    margin: auto 0 15px;
    width: 60px;
}
#page .news-style.uposts-object li .title {
    margin-bottom: 5px;
}
#page .news-style.uposts-object li .title h3 {
    line-height: 0.8em;
    margin: 0;
    padding: 0;
}
#page .news-style.uposts-object li .date_posted, #page .news-style.uposts-object li .author {
    display: inline-block;
}
#page .news-style.uposts-object li .author a {
    color: #ufc2;
}
#page .news-style.uposts-object li .author a:hover {
    color: #ufc3;
}
#page .news-style.uposts-object li .author:before {
    content: "";
    display: inline-block;
    margin-left: 0px;
}
#page .news-style.uposts-object li .content, #page .news-style.uposts-object li .read_more {
    display: block;
}
#page .news-style.uposts-object li .content {
    margin-bottom: 30px;
}
#page .news-style.uposts-object li .content p {
    margin: 0;
    padding: 0;
    line-height: 1.50em;
    letter-spacing: 0.45px;
}
#page .news-style.uposts-object li .read_more {
    text-transform: capitalize;
}
#page .news-style.uposts-object li.noFeature article:before {
    content: "";
    width: 100%;
    height: 468px;
    display: block;
    margin-bottom: 40px;
    background: url("UPFRONT_THEME_BASE/ui/bg-nophoto.jpg") no-repeat center center #01bc9d;
    background-size: cover;
}
#page .news-style.uposts-object li .dot-middle {
    font-size: 26px;
    line-height: 1.231em;
    vertical-align: top;
}
#page .news-style.uposts-object {
    margin-bottom: 115px;
}


/* 133620-1461298997-au */