#page .responsive-archive.uposts-object li .thumbnail {
    display: none;
}
#page .responsive-archive.uposts-object li .title h3 {
    line-height: 1em;
}
#page .responsive-archive.uposts-object li .date_posted {
    float: left;
    display: inline-block;
    margin-right: 4px;
}


/* 133620-1481397509-au */