#page .responsive-news.uposts-object li .thumbnail {
    height: 100%;
    max-height: 250px;
}
#page .responsive-news.uposts-object li .gravatar {
    margin: auto auto 15px;
}
#page .responsive-news.uposts-object li .title {
    text-align: center;
}
#page .responsive-news.uposts-object li .title h3 {
    line-height: 1em;
    padding: 0;
}
#page .responsive-news.uposts-object li .date_posted, #page .responsive-news.uposts-object li .author {
    display: block;
    text-align: center;
}
#page .responsive-news.uposts-object li .date_posted {
    margin: 0;
}
#page .responsive-news.uposts-object li .author .dot-middle {
    display: none;
    position: relative;
}
#page .responsive-news.uposts-object li .author:before {
    content: "•";
    display: block;
    font-size: 16px;
    line-height: 25px;
}
#page .responsive-news.uposts-object li .author a {
    color: #ufc2;
}
#page .responsive-news.uposts-object li .author a:hover {
    color: #ufc3;
}
#page .responsive-news.uposts-object li .read_more {
    text-align: center;
}


/* 133620-1461298997-au */