#page .ugallery-scribe-style .ugallery {
    text-align: center;
    margin-bottom: 30px;
}
#page .ugallery-scribe-style .ugallery_label_filter {
    color: #ufc0;
    font-family: Cantata One;
    font-size: 18px;
}
#page .ugallery-scribe-style .ugallery_label_filter:hover, #page .ugallery-scribe-style .ugallery_label_filter.filter_selected {
    color: #c09533;
}
#page .ugallery-scribe-style .ugallery_label_filter:before {
    content: "/";
    color: #010101;
    padding: 0 2px 0 2px;
}
#page .ugallery-scribe-style .ugallery_label_filter:first-child:before {
    content: "";
}
#page .ugallery-scribe-style .ugallery_item {
    padding: 3px;
}
#page .ugallery-scribe-style .ugallery-thumb-title {
    font-family: Lato;
    padding: 0;
    margin: 3px;
    width: 190px;
    height: 190px;
    text-align: center;
    line-height: 190px;
}


/* 133620-1481397524-au */