#page .uf-uposts-grid-featured-responsive .upfront_posts-list > ul, #page .uf-uposts-grid-featured-responsive ul.uf-uposts {
    overflow: hidden;
}
#page .uf-uposts-grid-featured-responsive.uposts-object ul {
    width:100%;
    padding: 0 20px;
}
#page .uf-uposts-grid-featured-responsive li.uf-post {
    float: left;
    margin: 0 0px 30px;
    width: 100%;
    padding: 0 0 30px;
    border-bottom: 1px dashed #ufc3;
    text-align: center;
}
#page .uf-uposts-grid-featured-responsive li.uf-post:nth-child(3n+1) {
    margin-right: 0;
}
#page .uf-uposts-grid-featured-responsive li.uf-post, #page .uf-uposts-grid-featured-responsive li.uf-post article {
    overflow: hidden;
}
#page .uf-uposts-grid-featured-responsive .thumbnail {
    max-height: 140px;
    position: relative;
}
#page .uf-uposts-grid-featured-responsive .thumbnail:after {
    background-color: #ufc0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    width: 100%;
}
#page .uf-uposts-grid-featured-responsive .thumbnail:hover:after {
    opacity: .8;
}
#page .uf-uposts-grid-featured-responsive .date_posted .date {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
}
#page .uf-uposts-grid-featured-responsive .title h3 {
    position: relative;
}
#page .uf-uposts-grid-featured-responsive .title h3:after {
    position: absolute;
    width: 60px;
    bottom: 2px;
    left: 50%;
    margin-left:-30px;
    content: "";
    display: block;
    border-bottom: 1px solid #ufc0;
}
#page .uf-uposts-grid-featured-responsive .title h3, #page .uf-uposts-grid-featured-responsive .title h3 a {
    color: #ufc0;
    display: inline-block;
    font-family: 'Cantata One', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#page .uf-uposts-grid-featured-responsive .content p {
    font-size: 17px;
    line-height: 1.7em;
    text-align:center;
}
#page .uf-uposts-grid-featured-responsive .read_more {
    margin-bottom: 0;
}
#page .uf-uposts-grid-featured-responsive .read_more a {
    background: url("UPFRONT_THEME_BASE/ui/arrows.png") no-repeat -3px -5px;
    display: inline-block;
    height: 19px;
    width: 94px;
}
#page .uf-uposts-grid-featured-responsive .read_more a:hover {
    background-position: -3px -35px;
}
#page .uf-uposts-grid-featured-responsive li.uf-post:first-child {
    height: 100%;
    width: 100%;
}
#page .uf-uposts-grid-featured-responsive li.uf-post:first-child .thumbnail {
    width: 100%;
}
#page .uf-uposts-grid-featured-responsive li.uf-post:first-child .title, #page .uf-uposts-grid-featured-responsive li.uf-post:first-child .date_posted, #page .uf-uposts-grid-featured-responsive li.uf-post:first-child .content, #page .uf-uposts-grid-featured-responsive li.uf-post:first-child .read_more {
    width: 100%;
}
#page .uf-uposts-grid-featured-responsive li.uf-post:first-child .read_more {
}
#page .uf-uposts-grid-featured-responsive li.uf-post:last-child {
    border-bottom: none;
}


/* 133620-1492562820-au */