.uf-pagination {
    clear: both;
    margin-top: 30px;
    padding-top: 15px;
    overflow: hidden;
}
.page-numbers, a.page-numbers {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    -webkit-transition: color .4s;
    transition: color .4s;
}
.page-numbers.current {
    color: #ufc0;
}
a.page-numbers:hover {
    color: #ufc0;
}
.page-numbers.next {
    float: right;
}
 .page-numbers.prev {
    margin-right: 15px;
}


/* 133620-1456900948-au */