/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Screens

This is for super wide monitors for the l33t people. If you 
worked in a good base in the previous styles, this should work
pretty seamlessly.

******************************************************************/

 .site-inner, .wrap {
    max-width: 960px;
  }
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px;
  }
  .content,
  .site-header .widget-area {
    width: 620px;
  }
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px;
  }
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .sidebar-primary,
  .title-area {
    width: 300px;
  }