/* Calendar */
.widget #calendar_wrap, .widget #wp-calendar, .widget #wp-calendar > caption {
    width: 100%;
    display: block;
}
.widget #wp-calendar {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: "Quattrocento Sans";
    font-weight: 400;
    font-style: normal;
}
.widget #wp-calendar > caption {
    background: #01bc9d;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.widget #wp-calendar thead, .widget #wp-calendar tbody {
    width: 100%;
    display: block;
}
.widget #wp-calendar thead {
    background: #fafafa;
    color: #01bc9d;
    font-weight: bold;
    text-align: center;
}
.widget #wp-calendar thead > tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.widget #wp-calendar thead > tr > th {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-direction: column;
}
.widget #wp-calendar tbody {
    padding-bottom: 24px;
    background: #ffffff;
}
.widget #wp-calendar tbody > tr {
    width: 100%;
    display: block;
}
.widget #wp-calendar tbody > tr:first-child {
    text-align: right;
}
.widget #wp-calendar tbody > tr:last-child {
    text-align: left;
}
.widget #wp-calendar tbody > tr > td {
    width: 100%;
    max-width: 14.2857%;
    display: inline-block;
    color: #999999;
    text-align: center;
}
.widget #wp-calendar #today {
    background: #01bc9d;
    color: #ffffff;
}
.widget #wp-calendar tfoot {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    background: #ffffff;
}
.widget #wp-calendar tfoot > tr > td > a {
    font-weight: bold;
}
/* Search Form */
.widget .search-form {
    position: relative;
}
.widget .search-form input[type="search"] {
    width: 100%;
    display: block;
    padding: 10px 44px 8px 10px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fcfcfc;
    color: #bdbdbd;
    font-size: 16px;
    line-height: 1.2em;
    font-family: "Quattrocento";
    font-weight: 400;
    font-style: normal;
}
.widget .search-form .search-submit {
    width: 36px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 1px;
    border-left: 1px solid #dddddd;
    background-color: #fcfcfc;
    background: url("UPFRONT_THEME_BASE/ui/sprites.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprites.svg"), none;
    background-position: -62px -68px;
    text-indent: -9999px;
}
.widget .search-form .search-submit:hover {
    background-position: -222px -68px;
}


/* 133620-1481397509-au */