div.upfront-login_element-object .upfront_login-form form#loginform label {
    font: 400 18px/1.944em 'Lato', Arial, sans-serif;
}
.upfront_login-form form input[type="text"], .upfront_login-form form input[type="email"], .upfront_login-form form input[type="password"] {
    border: 1px solid #ufc7;
}
.upfront_login-form form#loginform input[type=checkbox] {
    height: 30px;
    margin: 0 15px 0 0;
    top: 0;
    width: 30px;
}
.upfront_login-form form#loginform input[type=checkbox]:before {
    border: 1px solid #ufc7;
}
.upfront_login-form form#loginform input[type=checkbox]:checked:before {
    background-image: none;
    content: "x";
    color: #ufc0;
    font: 400 25px/1em 'Lato', Arial, sans-serif;
    text-align: center;
}
.upfront_login-form form#loginform .login-submit input[type=submit] {
    background-color: #ufc0;
    border: none;
    color: #ufc3;
    font: 400 14px/2.5em 'Lato', Arial, sans-serif;
    height: inherit;
    padding: 0;
}
.upfront_login-form form .login-submit input[type=submit]:hover {
    background-color: #ufc5;
}
.upfront_login-form p .login-lostpassword-link {
    color: #ufc0;
}
.upfront_login-form p .login-lostpassword-link:hover {
    color: #ufc5;
}
 /* dropdown */
.upfront_login-trigger {
    color: #ufc0;
    font: 400 18px/1.944em 'Lato', Arial, sans-serif;
}
.upfront-login_element-object .upfront_login.upfront_login-hover .upfront_login-form, .upfront-login_element-object .upfront_login.upfront_login-click .upfront_login-form {
    border: 2px solid #ufc7;
}
.upfront-login_element-object .upfront_login.upfront_login-hover:hover .upfront_login-form:before, .upfront-login_element-object .upfront_login.upfront_login-click.active .upfront_login-form:before {	  	 				  	 	  		 	 
    border-top: 2px solid #ufc7;
    border-left: 2px solid #ufc7;
}
.upfront-login_element-object a.logout_link {
    font-size: 14px;
    line-height: 2.5em;
}


/* 133620-1492562771-au */