<div class="farreaches wrap">
    <div class="farreaches-organization-settings">
        <div class="farreaches-info-box">
            <h2>Registration cannot be finished</h2>
            <div id="confirmation">
                You're running wordpress in multi-site mode. Unfortunately we do not support multisite mode.
                If you need this to be supported, please contact our <a href="mailto:feedback@farreach.es">support department</a> so that we know how important it is.
                (if no one contacts us then we will not spend time on this).
            </div>
        </div>
    </div>
</div>