<div class="farreaches">
<div class="farreaches-tabbed">        
<ul class="submenu">
{{for admin_submenus}}
    <li><a href='#tabs-{{:key}}'>{{:displayName}}</span></a></li>
{{/for}}
</ul>
{{for admin_submenus}}
    <div id="tabs-{{:key}}">
      (Replaced by template) {{:key}}  
    </div>
{{/for}}
</div>
</div>