<div id="settings-form-wrap" class="farreaches-settings">
    <form id="settings-form">
        <div class="feature-anl">
            <h2>Integrated Google Analytics</h2>
            <div class="feature-description">
	            <p>Enabling <i>Integrated Google Analytics</i>, allows <u>detailed</u> <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> information.</p>
	            <p>This Google Analytics information reveals how social media is helping promote your site.</p>
	            <p>You will be able to see which facebook page is performing and how it compares to the twitter account.</p>
        	</div>    
        	
        	<input type="text" name="google_analytics_code" id="google_analytics_code" placeholder="Google Analytics Code"><label for="google_analytics_code">Google Analytis Code</label>
            {{if google_analytics_enabled}}
                <input type="checkbox" name="enable_google_analytics" id="enable_google_analytics" checked="checked"/>
            {{else}}
                <input type="checkbox" name="enable_google_analytics" id="enable_google_analytics"/>
            {{/if}}
            <label for="enable_google_analytics">Enable Google Analytics</label>
        </div>
        <br/><br/>
        {{if publish_topic}}
            <button id="submit-settings-form" 
                class="button button-primary save-changes" 
                data-publish-event='!form#settings-form' 
                data-publish-topic='{{:publish_topic}}'
                data-publish-label="Saving.."
                data-publish-disabled-after="false"
                data-publish-label-success="Saved!"
                data-publish-failure="notification_on_failure"
                >Save Changes</button>
        {{/if}}
    </form>
</div>
