<div id="complete-connection-configuration" class="wrap">
	<h2>Complete connection configuration</h2>
	<p>Choose pages that you want to be connected to your site.</p>
	{{for message_end_points}}
		<div class="farreaches-endpoint" data-endpoint="{{:lookupKey}}"><!-- service name -->
	        {{if extServiceUserFullName}}{{>extServiceUserFullName}}{{else extServiceUsername}}{{>extServiceUsername}}{{else}}{{>publicUri}}{{/if}}
	    </div>
	{{/for}}
	<button type="button" class="fr-button"
		id="farreaches-complete-button"
        data-publish-topic="farreaches://message-endpoint/activate"
        data-publish-event="[]"
        data-publish-label="Finishing setup.."
        data-publish-label-success="Done!"
        data-publish-disabled-after="false"
        data-publish-success="close_connection_popup"
        data-publish-failure="notification_on_failure">
        Complete connection
    </button>
</div>