{{if definitions && definitions.length > 0}}
<div class="preview-block">
	<a id="fr-preview-header" class="button">Social preview</a>
	<div id="fr-preview-dialog" style="display:none;">
	    <div>Click following buttons to get an impression of how your post going look like on social media sites.</div>
	    <div class="fr-preview-buttons-panel">
			{{for definitions}}
			    <img src="{{>service_icon_url}}" class="preview-icon" alt="{{>service_alias}}" title="{{>service_alias}}" data-service-alias="{{>service_alias}}" />
			{{/for}}
		</div>
		<div id="fr-preview-content">
		</div>
	</div>
</div>
<div class="farreaches_destinations farreaches_destinations_metabox">
</div>
{{/if}}