<label for="post_automatic_publishing">
    <input id="enable_automatic_publishing" name="enable_automatic_publishing" type="hidden" value="{{>enable_automatic_publishing}}">
	<input id="post_automatic_publishing" name="post_automatic_publishing" type="checkbox" {{>post_automatic_publishing_value}} value="true"/> Publish to social media
</label>
<div class="farreaches_destinations">
	
</div>
