<div class="fr-post-status" id="{{>post_id}}">
    {{for statuses}}
        <div class="fr-status fr-post-status-{{>status}} fr-post-status-{{>service}}">
        {{>statusText}} <b>{{>timestamp}}</b>
        {{if link}}
        	{{if status=='aut'}}
	            <a href="{{>link}}">Fix</a>
            {{else}}
            	<a href="{{>link}}" target="_blank">View</a>
            {{/if}}
        {{/if}}
    	</div>
    {{/for}}
    <div class="fr-publish-buttons">
    {{if enable_abort }}
        <button class="button"
            data-publish-topic="farreaches://post/abort"
            data-publish-event="{{>post_id}}"
            data-publish-label="Aborting..."
            data-publish-label-success="Aborted"
            data-publish-disabled-after="true"
            style="padding-left:5px"
        >Do not send</button>
     {{/if}}
    {{if enable_publish_now }}
        <button class="button button-primary"
            data-publish-topic="farreaches://post/publish_now"
            data-publish-event="{{>post_id}}"
            data-publish-label="Publishing..."
            data-publish-label-success="Published"
            data-publish-disabled-after="true"
            style="padding-right:5px"
        >Publish now</button> 
    {{/if}}
    </div>
</div>
