<div class="wrap farreaches">
    <h2>Tumblr Post Preview</h2>
    <div class="tumblr-post-preview">
        <div class="tumblr-post-header clearfix">
            <div class="tumblr-user-name">{{>extServiceUsername||'username'}}</div>
            <div class="tumblr-actions">delete&nbsp;&nbsp;&nbsp;edit</div>
        </div>
        <div class="tumblr-post-body">
            <div class="tumblr-post-title">{{>post_title}}</div>
            <div class="tumblr-post-text">{{:post_text}}</div>
        </div>
    </div>
</div>