<div >
	<div id="fr-premium-modal-dialog">
	
	    <h2>Upgrade needed</h2>
	
	    <p>
	        This is a premium feature. You have to subscribe for premium service to use it.
	    </p>
	
		<div class="fr-dialog-buttons-panel">
			<a class="button button-primary" id="fr-update-to-premium" href="{{:subscriptions_link}}">Upgrade to premium</a> <a class="button" id="fr-modal-cancel" href="#">Cancel</a>
		</div>
	</div>
</div>