<div id="settings-form-wrap" class="farreaches-settings">
    <form id="settings-form">
        <h2>Social media settings</h2>
        {{if external_service_connect_topic}}
            <div class="farreaches-connect-panel">
                {{for external_service_definitions}}
                    <button type="button" class="fr-button fr-button-big fr-connect-button {{cssName:service_name}}24" data-service-name="{{:name}}">+ {{>service_name}}</button>
                {{/for}}
            </div>
        {{/if}}
        {{if message_end_points}}
        <p>
            {{for message_end_points tmpl="#message_end_point_settings"/}}
        </p>
        {{/if}}
        {{if publish_topic}}
            <button id="submit-settings-form" 
                class="button button-primary save-changes" 
                data-publish-event='!form#settings-form' 
                data-publish-topic='{{:publish_topic}}'
                data-publish-label="Saving.."
                data-publish-disabled-after="false"
                data-publish-success="settings_save_on_success"
                data-publish-failure="notification_on_failure"
                >Save Changes</button>
        {{/if}}
    </form>
</div>
