.ugallery a:not(.upfront-image-select) {
    border-bottom: none;
    font-size: 18px;
}
.ugallery_item {
    position: relative;
}
.ugallery_item:before {
    background-color: #000000;
    content: '';
    left: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}
.ugallery_item:after {
    z-index: 999;
    background:url("UPFRONT_THEME_BASE/ui/sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.svg"), none;
    background-position: -383px -543px;
    content: '';
    width: 25px;
    height: 25px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    left: 50%;

    line-height: 1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.3s ease-out;
    transition: opacity 0.4s ease-out, transform 0.3s ease-out;
    -webkit-transform:translate(-12px,-12px) scale(3);
    transform:translate(-12px,-12px) scale(3);
}
.ugallery_item:hover:before,  #page .u-gallery .ugallery_item:hover:after {
    opacity: 0.3;
}
.ugallery_item:active:before,  #page .u-gallery .ugallery_item:active:after {
    opacity: 0.7;
}
.ugallery_item:hover:after {
    opacity: 1;
    -webkit-transform:translate(-12px, -12px) scale(1);
    transform:translate(-12px, -12px) scale(1);
}


/* 133620-1477324833-au */