.upfront-output-posts li.uf-post {
    padding-top: 0;
    padding-bottom: 0;
}
li.uf-post > article {
    border-bottom: 1px solid #ddf2f8;
    padding: 45px;
}
li.uf-post:last-child > article {
    margin-bottom: 30px;
}
.uf-post .uposts-part {
    margin-bottom: 20px;
}
 .uposts-part.thumbnail {
    margin: 0 -45px 30px;
    max-height: 240px;
}
 .thumbnail a {
    display: block;
    position: relative;
}
 .thumbnail a:before {
    background-color: #ufc0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    width: 100%;
}
 .thumbnail a:hover:before {
    opacity: .75;
}
.uf-post .title, .uf-post .title a, .uf-post .title a:hover {
    color: #ufc6;
    font-family: 'open sans';
    font-weight: 300;
}
.uf-post .uposts-part.author {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0;
    font-size:13px;
}
.uposts-object .uf-post .uposts-part.author a {
    font-weight: 700;
    color: #ufc5;
}
.uf-post .uposts-part.date_posted {
    display: inline-block;
    font-size:13px;
    margin-bottom: 0;
}
.uf-pagination {
    text-align: center;
    margin-bottom: 120px;
    position: relative;
}
.page-numbers.current {
    background-color: #ufc0;
    color: #ufc2;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 0;
    text-align: center;
    border-radius: 50%;
}
.uf-pagination a {
    margin: 0px 5px 0px;
    font-size: 14px;
}
 .page-numbers.prev, .page-numbers.next {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    border-radius: 3px;
    background: url("UPFRONT_THEME_BASE/ui/sprite.png");
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.png"), none;
    background-color: #ufc0;
    position: absolute;
    bottom: 0;
}
 .page-numbers.prev:hover, .page-numbers.next:hover {
    background-color: #ufc1;
}
 .page-numbers.prev {
    left: 15px;
    background-position: -56px -696px;
}
.page-numbers.next {
    right: 15px;
    background-position: -214px -696px;
}
 .page-numbers.dots {
    color: #ufc0;
}


/* 133620-1456900944-au */