#page .dotted-box.upfront-module-group {
    border: 1px dashed #ufc3;
    padding: 30px 0px 30px;
}
#page .dotted-box h1, #page .dotted-box h2, #page .dotted-box h4, #page .dotted-box h5, #page .dotted-box h6, #page .dotted-box p {
    padding-bottom: 0px;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
#page .dotted-box.upfront-module-group:before, #page .dotted-box .upfront-module-group-bg:before {
    background: url("UPFRONT_THEME_BASE/ui/scissors.png");
    top: -28px;
    content: "";
    position: absolute;
    width: 100px;
    height: 55px;
    right: 50px;
}


/* 133620-1461299008-au */