#page .usearch-scribe-style input.search-field {
    display: inline-block;
    float: left;
    font-family: Lato;
    font-size: 14px;
    width: 100%;
    height: 35px;
    padding-right: 35px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: #f2f2f2;
}
#page .usearch-scribe-style button.search-button {
    position: absolute;
    margin-left: -35px;
    display: inline-block;
    float: left;
    font-family: Lato;
    font-size: 16px;
    color: #ffffff;
    background: #c09533;
    border-top: 3px solid #c09533;
    border-bottom: 3px solid #9a7729;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 15px;
    height: 35px;
    width: 45px;
    line-height: 1;
}
#page .usearch-scribe-style button.search-button:hover {
    background: #9a7729;
    border-top: 3px solid #c09533;
    border-bottom: 3px solid #9a7729;
}


/* 133620-1492562820-au */