.upfront-region-container-featured-image .upfront-region-container-bg {
    border-bottom: 1px solid #f9f9f9;
}
.upfront-region-container-featured-image .upfront-region-container-bg.no-featured_image {
    background-image: url("UPFRONT_THEME_BASE/ui/bg-wedding.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}


/* 133620-1461298997-au */