/* ## Site Footer
--------------------------------------------- */

.site-footer {
    width: 100%;
    color: $body;
    border-top: $site-border;
    position: relative;
    .widget-area {
        @include breakpoint(sm) {
            margin-bottom: 0;
        }
    }
    a {
        color: $darker;
        &:hover,
        &:focus {
            color: $accent;
        }
    }
}

/* ## Before Footer
--------------------------------------------- */

.before-footer {
    background-color: $light;
    border-bottom: $site-border;
    padding: 5rem 0;
    @include breakpoint(sm) {
        padding: 7.5rem 0;
    }
    .blog &,
    .archive &,
    .search-results & {
        background-color: $white;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include flexfix;
    }
    .widget {
        margin-bottom: 0;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    h2,h3,h4,h5,h6 {
        color: $dark;
    }
    p {
        @include breakpoint(sm) {
            margin: 0;
        }
    }
}

/* ## Footer Widgets
--------------------------------------------- */

.footer-widgets {
    padding: 5rem 0 0;
    position: relative;
    font-size: 1.5rem;
    @include breakpoint(sm) {
        padding: 10rem 0 0;
    }
    .wrap {
        @include breakpoint(sm) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .widget-title {
        font-size: 1.6rem;
        margin-bottom: 1em;
        color: $dark;
    }
    .widget-area {
        margin: 0 auto 4rem;
		@include breakpoint(sm) {
            width: $one-third;
			margin-left: $margin;
			&.footer-widgets-1 {
				margin-left: 0;
			}
        }
        &.footer-widgets-1 {
            i {
                margin-top: 0.2em;
                margin-right: 0.618em;
                display: inline-block;
                float: left;
            }
        }
        &.footer-widgets-2 {
            display: flex;
            @include breakpoint(sm) {
                margin-bottom: 0;
            }
            .widget {
                width: $one-half;
            }
        }
        .widget {
            display: block;
            margin-bottom: 4rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            &.widget_nav_menu {
                margin-bottom: 0;
            }
        }
    }
}

/* ## Footer Credits
--------------------------------------------- */

.footer-credits {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 4rem 0;
    border-top: $site-border;
    font-size: 1.5rem;
    @include breakpoint(sm) {
        margin-top: 10rem;
    }
    .wrap {
        @include breakpoint(sm) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
    .widget {
        &:last-of-type {
            @include breakpoint(sm) {
                text-align: right;
            }
        }
    }
    .simple-social-icons {
        margin-left: -1em;
        margin-bottom: 1em;
        @include breakpoint(sm) {
            margin-bottom: 0;
        }
    }
    .menu-item {
        width: auto;
        margin-left: 2em;
    }
    p {
        margin-bottom: 0;
    }
}