/* ## Site Header
--------------------------------------------- */

.site-header {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: $white;
    border-bottom: 1px solid rgba($gray,0.3);
    @include transition;
    .sticky-header & {
        position: fixed;
        &.shrink {
            background-color: $white;
            box-shadow: 0 0 4rem rgba($dark,0.05);
            >.wrap {
                @include breakpoint(md) {
                    height: 7rem;
                }
            }
        }
    }
    .no-js & {
        position: relative;
    }
    .boxed-page & {
        max-width: map-get($breakpoints,lg);
        margin: 0 auto;
    }
    .contact-page & {
        background-color: $white;
    }
    >.wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 6rem;
        transition: height 0.3s ease;
        @include breakpoint(md) {
            padding: 0;
            flex-wrap: nowrap;
            height: 10rem;
        }
        .no-js & {
            height: auto;
            padding: 3rem 6vw;
            @include breakpoint(md) {
                padding: 0;
            }
        }
    }
}


/* ## Title Area
--------------------------------------------- */

.title-area {
    margin: 0 auto 0 0;
    position: relative;
    display: block;
    width: 15rem;
}

.site-title {
    font-size: 1.8rem;
    font-weight: $bold;
    line-height: 1;
    margin-bottom: 0;
    a {
        color: $dark;
        text-decoration: none;
        @include transition;
        .shrink & {
            color: $dark;
        }
    }
}

.site-description {
    font-size: 1.4rem;
    margin-bottom: 0;
    line-height: 1;
    opacity: 0.618;
    @include screen-reader-text;
    @include breakpoint(md) {
        text-align: left;
        line-height: 1.382;
    }
}

.custom-logo {
    display: block;
    .shrink & {
        display: block;
    }    
}

.secondary-logo {
    display: none;
    .shrink & {
        display: none;
    } 
}

/* ## Before Header
--------------------------------------------- */

.before-header {
    background-color: $light;
    border-bottom: 1px solid rgba($gray,0.3);
    border-top: 1px solid rgba($gray,0.3);
    position: relative;
    color: $darker;
    height: 4rem;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include transition;
    @include breakpoint(md) {
        width: 100vw;
        max-width: 100%;
    }
    .sticky-header .shrink & {
        @include breakpoint(md) {
            margin-top: -4rem;
        }
    }
    .no-js & {
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: auto;
    }
    .menu & {
        display: flex;
        width: 100%;
        margin: 3em 0 0;
        padding: 3em 0 0;
        background-color: transparent;
        border-bottom: none;
        height: auto;
        @include clearfix;
        .widget {
            margin-bottom: 1em;
        }
        .simple-social-icons {
            margin-left: -0.5em;
            a {
                margin: 0 0.5em 0 0;
            }
        }
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        @include flexfix;
        @include breakpoint(md) {
            padding: 0;
            width: 88%;
            max-width: map-get($breakpoints,lg);
        }
    }
    .widget {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .widget-wrap {
        width: 100%;
    }
    p {
        display: flex;
        align-items: center;
        @include breakpoint(xxs) {
            display: inline-flex;
            margin: 0 1em 0 0;
        }
    }
    .fa {
        margin-right: 0.5em;
    }
    .fa:before {
        line-height: 1.618;
    }
    .simple-social-icons ul li a {
        background-color: transparent !important;
    }
}

/* ## Header Right
--------------------------------------------- */

.header-widget-area {
    margin: 0 1em 0 0;
    display: none;
    @include breakpoint(md) {
        margin: 0 0 0 0.5em;
        display: block;
        order: 5;
    }
    @include breakpoint(lg) {
        margin: 0 0 0 2em;
    }
    .widget {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

/* ## Hero Section
--------------------------------------------- */

.hero-section {
    background-color: $light;
    background-size: cover;
    background-position: center;
    border-bottom: $site-border;
    text-align: center;
    position: relative;
    padding: 12rem 0 6rem;
    @include overlay;
    @include breakpoint(sm) {
        padding: 16rem 0 16rem;
    }
    @include breakpoint(md) {
        padding: 20rem 0 16rem;
    }
    @include breakpoint(xl) {
        padding: 24rem 0 20rem;
    }
    .has-before-header & {
        @include breakpoint(md) {
            padding-top: 24rem;
        }
        @include breakpoint(xl) {
            padding-top: 28rem;
        }
    }
    .has-nav-secondary & {
        @include breakpoint(md) {
            padding-top: 26rem;
        }
        @include breakpoint(xl) {
            padding-top: 30rem;
        }
    }
    .has-before-header.has-nav-secondary & {
        @include breakpoint(md) {
            padding-top: 30rem;
        }
        @include breakpoint(xl) {
            padding-top: 34rem;
        }
    }
    .blog &,
    .archive &,
    .search-results & {
        @include breakpoint(sm) {
            padding-bottom: 10rem;
        }
        @include breakpoint(md) {
            padding-bottom: 10rem;
        }
        @include breakpoint(xl) {
            padding-bottom: 14rem;
        }
    }
    .wrap {
        position: relative;
        z-index: 2;
        @include breakpoint(sm) {
            max-width: map-get($breakpoints,md);
        }
    }
    h1 {
        width: 100%;
        color: $white;
        text-align: center;
        margin: 0 auto;
    }
    p {
        width: 100%;
        max-width: map_get($breakpoints,xs);
        color: $white;
        margin: 0.5em auto 0;
        text-align: center;
    }
}
