#page .page-style .post_title {
    text-align: center;
    text-transform: uppercase;
    margin: 0.67em 0;
}
#page .page-style p, #page .page-style ul, #page .page-style ol {
    margin: 0 0 30px;
}


/* 133620-1461299008-au */