#page .ugallery-four-cols.upfront-gallery {
    padding: 0 !important;
}
#page .ugallery-four-cols .ugallery {
    width: 100% !important;
    display: block;
}
#page .ugallery-four-cols .ugallery_item {
    width: 25% !important;
    height: 270px !important;
    max-height: 270px !important;
    overflow: hidden;
}
#page .ugallery-four-cols .ugallery_link {
    height: 270px;
    display: block;
    position: relative;
    margin-bottom: 0;
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
#page .ugallery-four-cols img.ugallery-image {
    width: 100% !important;
    height: auto !important;
    display: block;
    position: relative;
    top: 50% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#page .ugallery-four-cols .ugallery_link p:before {
    margin-top: 24%;
    margin-bottom: 27%;
}


/* 133620-1458758052-au */