.post_content {
    border-bottom: 1px solid #ededed;
    padding-bottom: 35px;
    margin-bottom: 40px;
}

/* Post Elements – Post Title */
.upfront-postpart-title .post_title {
    text-align: center;
}
h1.post_title, h1.post_title a {
    padding: 0;
}
h1.post_title a:hover {
    color: #ufc3;
}

/* Post Elements – Date */
.upfront-postpart-date {
    text-align: right;
}
time.post_date {
    color: #ufc2;
    font-family: 'Quattrocento Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.563em;
    text-transform: uppercase;
}
/* Post Elements – Author */
.upfront-postpart-author {
    padding-left: 0;
}
.upfront-postpart-author:before {
    color: #ufc2;
    content: "•";
    display: inline-block;
    font-family: 'Quattrocento Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding:0;
    margin: 0px 5px 0px 0px;
    line-height: 4px;
}
.upfront-postpart-author a.post_author {
    color: #ufc2;
    font-size: 14px;
    line-height: 1.563em;
    text-transform: uppercase;
}
.upfront-postpart-author a.post_author:hover {
    color: #ufc3;
}
/* Post Elements – Post Excerpt */
.post_excerpt {
    margin: 12px 0;
    color: #61737b;
    font-size: 18px;
    line-height: 1.4em;
    font-family: "Quattrocento";
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}
 /* Post Content */
.post_excerpt {
    margin: 12px 0;
    color: #61737b;
    font-size: 18px;
    line-height: 1.4em;
    font-family: "Quattrocento";
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}
.upfront-postpart-contents .post_content h1, .upfront-postpart-contents .post_content h2, .upfront-postpart-contents .post_content h3, .upfront-postpart-contents .post_content h4, .upfront-postpart-contents .post_content h5, .upfront-postpart-contents .post_content p, .post_content address, .post_content table, .post_content pre, .post_content cite, .post_content q, .post_content iframe, .post_content embed {
    margin: 0 0 35px;
    padding:0px;
}

.upfront-postpart-contents .post_content h6 {
    margin: 0 0 5px;
    padding:0px;
    text-transform: uppercase;
}
.upfront-postpart-contents .post_content h3 {
    text-align: center;
}
.post_content > ul, .post_content > ol {
    margin: 0px 0 35px;
}
.post_content > ul li, .post_content > ol li {
    margin-bottom:15px;
}

.post_content > ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
.post_content > ul li:before {
    background: url("UPFRONT_THEME_BASE/ui/sprites.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprites.svg"), none;
    background-position: -715px -544px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 9px;
}
.upfront-postpart-contents .post_content > *:last-child {
    margin-bottom: 0;
}
.post_content img {
    display: block;
    height: auto;
    max-width: 100%;
}
.post_content .alignnone, .post_content .aligncenter, .post_content .alignright, .post_content .alignleft {
    max-width: 100%;
}
.post_content .alignnone, .post_content div.alignnone, .post_content .aligncenter, .post_content div.aligncenter, .post_content img.aligncenter {
    display: block;
    margin: 0 auto 30px auto;
}

.post_content img {
    margin-top:10px;
}
.post_content .alignright, .post_content img.alignright {
    float: right;
    margin: 0 0 30px 30px;
}
.post_content .alignleft, .post_content img.alignleft {
    float: left;
    margin: 0 30px 30px 0;
}

.post_content p {
    padding: 0;
    -ms-word-break: break-word;
    word-break: break-word;
}
.post_content .wp-caption-text p, .post_content p.wp-caption-text {
    color: #ufc1;
    font-family: 'lato';
    font-size: 15px;
    line-height: 1.333em;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.post_content .wp-caption-text > * {
    margin: 0;
}
.post_content .wp-caption-text a {
    color: #ufc0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.333em;
}

.post_content .ueditor-insert.upfront-inserted_image-wrapper,
.post_content .ueditor-insert.upfront-inserted_image-wrapper:hover {
    margin: 0;
}
.post_content .ueditor-insert {
    min-height: auto !important;
}
.post_content .ueditor-insert-variant .ueditor-image-style-full-width,
.post_content .ueditor-insert-variant .ueditor-image-style-center {
    margin-bottom: 30px;
}
.post_content .ueditor-insert-variant .ueditor-image-style-right {
    margin: 0 0 15px 30px;
}
.post_content .ueditor-insert-variant .ueditor-image-style-left {
    margin: 0 30px 15px 0;
}
.post_content .upfront-wrapper.uinsert-image-wrapper {
    min-height: auto !important;
    padding: 0;
}
.post_content .upfront-wrapper.wp-caption-text {
    color: #ufc1;
    font-family: 'lato';
    font-size: 15px;
    line-height: 1.333em;
    min-height: auto !important;
    margin: 0;
    text-align: center;
    padding: 15px 0 0;
}
.post_content .upfront-wrapper.wp-caption-text p {
    margin: 0;
}
.post_content blockquote {
    margin: 0 45px 45px;
    padding-top:10px;
    text-align: center;
}
.post_content blockquote p:last-child {
    margin-bottom: 0;
}
/* Template: Password Protected */
.post_content form p {
    position: relative;
}
.post_content input[type="password"] {
    width: 100%;
    max-width: 240px;
    padding: 6px 80px 6px 6px;
    border: 1px solid #dddddd;
    background: #fcfcfc;
    font-size: 16px;
    line-height: 1.5em;
}
.post_content input[type="submit"] {
    position: absolute;
    top: 1px;
    left: 242px;
    padding: 4px 8px;
    border-left: 1px solid #dddddd;
    background: #01bc9d;
    color: #ffffff;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
}
.post_content input[type="submit"]:hover {
    background: #00a384;
}
/* Post Categories */
.upfront-output-object.upfront-postpart-object.upfront-postpart-categories {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
}
.post_categories {
    padding-left: 30px;
    border-left: 4px solid #01bc9d;
    color: #61737b;
    font-size: 18px !important;
    line-height: 1.4em !important;
    font-family: "Quattrocento";
    font-weight: 700;
    font-style: normal;
    padding-bottom: 5px;
    text-transform: uppercase;
}
 .post-categories,  .post-categories li {
    list-style: none;
}
.post_categories h3.post_categories_title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.389em;
    margin: 0;
    padding: 0;
}
 .post-categories {
    display: block;
    /*margin-top: 10px;*/
    *zoom: 1;
}
 .post-categories:before,  .post-categories:after {
    content: "";
    display: table;
}
 .post-categories:after {
    clear: both;
}
 .post-categories li {
    float: left;
    display: inline-block;
    margin-right: 15px;
    /*margin-bottom: 15px;*/
    margin-top: 10px;
}
 .post-categories li:last-child {
    margin-right: 0;
}
 .post-categories li a {
    display: block;
    padding: 6px 12px;
    border: 1px solid #008a7a;
    background: #ufc3;
    color: #ufc5;
    font-size: 14px;
    line-height: 1.2em;
    min-width: 115px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
 .post-categories li a:hover {
    border-color: #ufc4;
    background: #008a7a;
    color: #ufc5;
}
 .post-categories li a:active,  .post-categories li a:visited {
    border-color: #008a7a;
    background: #00a384;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.4);
}
 /* Post Comments */
.post_comments {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #dddddd;
    color: #61737b;
    font-size: 18px;
    line-height: 1.2em;
    font-family: "Quattrocento";
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}


/* 133620-1456900936-au */