#page .uf-upost-responsive .upfront-postpart-wrapper.part-date, #page .uf-upost-responsive .upfront-postpart-module.part-module-date {
    margin-left: 0;
    width: 100%;
}
#page .uf-upost-responsive .upfront-postpart-module.part-module-date {
    margin-top: 10px;
}
#page .uf-upost-responsive .upfront-postpart-date {
    text-align: center;
    font-size: 13px;
}
#page .uf-upost-responsive .upfront-postpart-wrapper.part-author, #page .uf-upost-responsive .upfront-postpart-module.part-module-author {
    margin: 0;
    width: 100%;
}
#page .uf-upost-responsive .upfront-postpart-author {
    padding-left: 10px;
    text-align: center;
}
#page .uf-upost-responsive .upfront-postpart-author:before {
    display: block;
    margin: 0 0 5px;
}


#page .uf-upost-responsive .post_content .alignright, #page .uf-upost-responsive .post_content img.alignright {
    float: none;
    margin: 0 auto 30px;
    width:100%;
}
#page .uf-upost-responsive .post_content .alignleft, #page .uf-upost-responsive .post_content img.alignleft {
    float: none;
    margin: 0 auto 30px;
}
#page .uf-upost-responsive .upfront-inserted_image-wrapper.ueditor-insert-variant .ueditor-insert {
    margin: 0;
    width: 100%;
}
#page .uf-upost-responsive .uinsert-image-wrapper img {
    margin-right: auto;
    margin-left: auto;
    width: auto;
}


/* 133620-1481397509-au */