#page .uf-upage .upfront-postpart-contents {
    margin-bottom: 75px;
}
#page .uf-upage .post_content {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* 133620-1481397509-au */