#page .posts-parrot.uposts-object li .uposts-part.author, #page .posts-parrot.uposts-object li .uposts-part.author a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}
#page .posts-parrot.uposts-object li .uposts-part.date_posted {
    display: inline-block;
    font-size: 14px;
}
#page .posts-parrot .uposts-part {
    margin-bottom: 0;
}
#page .posts-parrot .uposts-part.thumbnail {
    max-height: 240px;
    margin-bottom: 30px;
}
#page .posts-parrot .uposts-part.title {
    margin-bottom: 20px;
}
#page .posts-parrot .uposts-part.title a {
    font-weight: 300;
    display: inline-block;
    color: #766856;
}
#page .posts-parrot .page-numbers.current {
    background-color: #2a8a5e;
    color: #fff;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 0;
    text-align: center;
    border-radius: 50%;
}
#page .posts-parrot .page-numbers.prev, #page .posts-parrot .page-numbers.next {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    border-radius: 3px;
    background: url("UPFRONT_THEME_BASE/ui/sprite.png");
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.png"), none;
    background-color: #2a8a5e;
}
#page .posts-parrot .page-numbers.prev:hover, #page .posts-parrot .page-numbers.next:hover {
    background-color: #117145;
}
#page .posts-parrot .page-numbers.prev {
    position: absolute;
    left: 10px;
    bottom: 0;
    background-position: -56px -696px;
}
#page .posts-parrot .page-numbers.next {
    position: absolute;
    right: 10px;
    bottom: 0;
    background-position: -214px -696px;
}
#page .posts-parrot .uf-pagination {
    text-align: center;
    margin-bottom: 120px;
    position: relative;
}
#page .posts-parrot .uf-pagination a {
    margin: 0px 5px 0px;
    font-size: 14px;
}
#page .posts-parrot .page-numbers.dots {
    color: #2a8a5e;
}


/* 133620-1458758059-au */