#page .uf-uposts-responsive li.uf-post > article {
    padding-right: 0;
    padding-left: 0;
}
#page .uf-uposts-responsive .uposts-part.thumbnail {
    margin: 0 0 30px;
}


/* 133620-1458758059-au */