#page .button-phone.upfront-button .upfront_cta {
    background:url("UPFRONT_THEME_BASE/ui/sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.svg"), none;
    background-position: -36px -520px;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}


/* 133620-1461299006-au */