.upfront-comments {
    border-top: 1px dashed #ufc3;
    list-style: none;
    margin: 30px 0 30px;
    padding: 65px 0 0;
}
.comment-respond {
    border-top: 1px dashed #ufc3;
    padding-top: 35px;
}

.upfront-comment {
    min-height:200px!important;
}

.upfront-comments + .comment-respond {
    border-top-style: dashed;
}
.upfront-comments ol.children {
    margin-left: 45px;
}
.upfront-comment li.comment {
    list-style-type: none;
    margin: 10px 0;
    overflow: hidden;
}
.upfront-comment li.comment.depth-1:first-child {
    margin-top: 0;
}
.upfront-comment article {
    overflow: hidden;
}
.upfront-comment .comment-wrapper {
    background-color: rgba(247,247,247,1);
    overflow: hidden;
    padding: 25px 30px;
}
.upfront-comment .comment-avatar {
    float: left;
    max-height: 75px;
    margin-right: 30px;
}
.upfront-comment .avatar {
    background: #ufc2;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ufc0;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}
.upfront-comment .comment-content-wrapper {
    float: left;
    width: 100%;
}
.upfront-comment .depth-2 .comment-content-wrapper {
    width: 100%;
}
.upfront-comment .depth-3 .comment-content-wrapper {
    width: 100%;
}
.upfront-comments .comment-author .fn, .upfront-comments .comment-author a {
    color: #ufc0;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.7em;
}
.upfront-comments .comment-author a:hover {
    color: #ufc5;
}
.upfront-comments .comment-time {
    margin-top: -5px;
    margin-bottom: 5px;
}
.upfront-comments .comment-time a {
    color: #ufc3;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
.upfront-comments .comment-time a:hover {
    text-decoration: none;
    color: #ufc3;
}
.upfront-comment .comment-content {
    margin-bottom: 5px;
}
.upfront-comment .comment-content p {
    padding: 0;
}
.upfront-comment .comment-content p:last-child {
    margin: 0;
}
.upfront-comment .edit-link {
    margin-bottom: 0;
    padding: 0;
}
.upfront-comment .comment-edit-link {
    color:#ufc0;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
.upfront-comment .comment-edit-link:hover {
    color: #ufc3;
}
.comment-meta-actions {
    margin-top: 5px;
    overflow: hidden;
}
 p.comment-awaiting-moderation {
    float: left;
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 0;
    width: 100%;
}
 p.comment-awaiting-moderation + .comment-reply {
    float: left;
    max-width: 25%;
}
.comment-reply {
    text-align: right;
    width: 100%;
}
.comment-reply a {
    font-weight: 400;
    color:#ufc0;
    font-size: 13px;
    line-height: 25px;
}
.comment-reply a:hover {
    color: #ufc3;
}
h3.comment-reply-title {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
}
h3.comment-reply-title:after {
    display: none;
}
h3.comment-reply-title a {
    color: #ufc0;
    text-transform: none;
    font-weight: 300;
}
h3.comment-reply-title small {
    display: block;
}
#cancel-comment-reply-link {
    color: #ufc1;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0px;
}
#cancel-comment-reply-link:hover {
    color: #ufc3;
}
p.logged-in-as {
    color: #ufc3;
    font-size: 15px;
    line-height: 25px;
}
p.logged-in-as a {
    color: #ufc0;
    font-weight: 300;
}
p.logged-in-as a:last-child {
}
p.logged-in-as a:hover {
    color: #ufc3;
}
.comment-form input[type="text"], .comment-form textarea {
    border-radius:4px;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    color: #808080;
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    -webkit-transition: border-color .4s;
    transition: border-color .4s;
    width: 100%;
    resize:vertical;
}

.comment-form input[type="text"] {
    padding: 5px 15px;
}

.comment-form textarea {
    padding: 10px 15px;
}
.comment-form input[type="text"]:focus, .comment-form textarea:focus {
    border-color: #ufc1;
    color: #ufc3;
}
.comment-form label {
    color: #ufc3;
    display: block;
    font-size:13px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0 0 5px;
    padding: 0;
}

.comment-form-comment label {
    display: none;
}
.comment-form p {
    padding: 0;
}
 p.comment-form-author,  p.comment-form-email,  p.comment-form-url {
    float: left;
    margin-left: 2%;
    width: 32%;
}
 p.comment-form-author {
    margin-left: 0;
}
p.comment-form-comment {
    clear: both;
}
 p.comment-notes {
    color: #ufc3;
    font-size: 12px;
    line-height: 25px;
}
p.form-submit {
    text-align: right;
}
input.submit {
    background: #ufc0;
    border-bottom: 2px solid #ufc5;
    border-radius:4px;
    color: #ufc2;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    min-width: 150px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    margin-bottom:100px;
}
input.submit:hover {
    background-color: #ufc5;
}


/* 133620-1458758062-au */