#page .ucontact-responsive .ucontact-input {
    width: 100%;
    background: #ufc2;
    border: 1px solid #ufc2;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: Lato;
    font-weight: 300;
    border-radius: 4px;
}
#page .ucontact-responsive .ucontact-input:focus {
    opacity: 1;
    border: 1px solid #ufc1;
}
#page .ucontact-responsive textarea.ucontact-input {
    resize: none;
    height: 130px;
}
#page .ucontact-responsive .submit-field {
    margin-top: 0px;
    background-color: #ufc0;
    border-bottom: 2px solid #ufc5;
    color: #ufc2;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 45px;
    height: 45px;
    width: 100%;
    padding: 0px 15px;
    border-radius: 4px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    margin-bottom: 100px;
}
#page .ucontact-responsive .submit-field:hover {
    background-color: #ufc5;
}


/* 133620-1456900948-au */