.upfront-region-container-main-slider .upfront-default-slider-nav-prev, .upfront-region-container-main-slider .upfront-default-slider-nav-next {
    background: #ufc6;
    border-radius: 50%;
    display: none;
    height: 40px;
    opacity: 0.7;
    transition: opacity .25s;
    width: 40px;
}
.upfront-region-container-main-slider .upfront-default-slider-nav-prev:before, .upfront-region-container-main-slider .upfront-default-slider-nav-next:before {
    background: url("UPFRONT_THEME_BASE/ui/gillie-sprite_v2.png") no-repeat;
    background: url("UPFRONT_THEME_BASE/ui/gillie-sprite_v2.svg"), none;
    content: "";
    display: block;
    height: 20px;
    margin: 10px auto;
    width: 10px;
}
.upfront-region-container-main-slider .upfront-default-slider-nav-prev:before {
    background-position: -75px -70px;
}
.upfront-region-container-main-slider .upfront-default-slider-nav-next:before {
    background-position: -235px -70px;
}
.upfront-region-container-main-slider .upfront-default-slider-nav-prev:hover, .upfront-region-container-main-slider .upfront-default-slider-nav-next:hover {
    opacity: 1;
}
.upfront-region-container-main-slider .upfront-default-slider .upfront-default-slider-nav {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
}
.upfront-region-container-main-slider .upfront-default-slider-nav-item {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #ufc3;
    height: 10px;
    transition: all .25s;
    width: 10px;
}
.upfront-region-container-main-slider .upfront-default-slider-nav-item.uslider-dotnav-current {
    background-color: #ufc3;
}
.upfront-region-container-main-slider .upfront-default-slider-nav-item:hover {
    background-color: #ufc1;
    border-color: #ufc1;
}


/* 133620-1492562771-au */