#page .button-pricing {
    padding: 0 !important;
}
#page .button-pricing a.upfront_cta {
    padding: 0px 15px 0px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    line-height: 50px;
}


/* 133620-1492562783-au */