#page .button-pricing-two {
    padding: 0 !important;
}
#page .button-pricing-two .upfront_cta {
    padding: 15px 10px 13px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    line-height: 2.1em;
    letter-spacing: -0.5px;
}


/* 133620-1477324819-au */