#page .comments-tablet .upfront-comments li * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#page .comments-tablet .upfront-comments .avatar {
    display: none;
}


/* 133620-1458758052-au */