#page .list-with-underline-style.upfront-plain_txt ul {
    list-style-type: none;
}
#page .list-with-underline-style.upfront-plain_txt ul li {
    text-align: center;
    font-size: 14px;
    line-height: 2.14em;
    padding: 7px 0;
}
#page .list-with-underline-style.upfront-plain_txt ul li:after {
    content: " ";
    display: block;
    width: 46%;
    min-width: 125px;
    height: 0;
    margin: 0 auto;
    border-bottom: 1px dotted #c09533;
    position: relative;
    top: 7px;
}
#page .list-with-underline-style.upfront-plain_txt ul li:last-child:after {
    content: none;
}


/* 133620-1458758062-au */