#page .uf-text-sep-small.upfront-plain_txt {
    position: relative;
}
#page .uf-text-sep-small.upfront-plain_txt:after {
    background-color: #1d1d1d;
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 30px;
}
#page .uf-text-sep-small.upfront-plain_txt p {
    line-height: 0;
}


/* 133620-1492562820-au */