#page .uf-ucomment-responsive .comment .comment-avatar {
    display: none;
}
#page .uf-ucomment-responsive .comment .comment-content-wrapper {
    display: block;
    margin: 0;
    max-width: 100%;
}
#page .uf-ucomment-responsive ol.children {
    margin-left: 15px;
}
#page .uf-ucomment-responsive input {
    width: 100%;
}


/* 133620-1461299006-au */