div.upfront-navigation ul.menu {
    background: transparent;
}
div.upfront-navigation ul.menu li.menu-item > a {
    color: #ufc3;
    font-family: 'Cantata One', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    padding: 5px 10px;
}
div.upfront-navigation ul.menu > li.current-menu-item > a, div.upfront-navigation ul.menu li.menu-item > a:hover {
    color: #ufc0;
}
div.upfront-navigation ul.menu li.menu-item-has-children > a:after, div.upfront-navigation ul.menu li.parent > a:after {
    border-top-color: #ufc3;
}
div.upfront-navigation ul.menu li.menu-item-has-children:hover > a:after, div.upfront-navigation ul.menu li.parent:hover > a:after, div.upfront-navigation ul.menu li.menu-item.burger_sub_display > a:after {
    border-top-color: transparent;
    border-left-color: #ufc0;
}
div.upfront-navigation ul.sub-menu {
    background: #4a4a4a;
}
div.upfront-navigation ul.sub-menu > li.menu-item {
    width: inherit;
}
div.upfront-navigation ul.sub-menu > li.menu-item > a {
    color: #ufc2;
    padding: 5px 10px;
}
div.upfront-navigation ul.sub-menu > li.menu-item > a:after {
    border-bottom: 1px dotted #ufc0;
    content: "";
    display: block;
    margin: 0;
    position: relative;
    top: 6px;
}
div.upfront-navigation ul.sub-menu > li.menu-item:last-child > a:after {
    content: none;
}
div.upfront-navigation [data-style='horizontal'] ul.sub-menu, div.upfront-navigation [data-style='vertical'] ul.sub-menu {
    border: 1px solid #ufc5;
}
div[data-style='horizontal'] ul.menu > li.parent > a, div[data-style='horizontal'] ul.menu > li.menu-item.menu-item-has-children > a {
    padding-right: 25px;
}
div[data-style='horizontal'] ul.sub-menu ul.sub-menu > li > a,  div[data-style='vertical'] ul.sub-menu ul.sub-menu > li > a {
    border-left: 0;
}
div[data-style="horizontal"] ul.sub-menu li.menu-item-depth-1 ul.sub-menu,  div[data-style="vertical"] ul.sub-menu ul.sub-menu {
    margin-top: -1px;
}
div[data-style="horizontal"] ul.sub-menu li.menu-item-depth-4 ul.sub-menu,  div[data-style="vertical"] ul.sub-menu li.menu-item-depth-4 ul.sub-menu {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    left: 0;
    margin-top: 0;
    position: relative;
    top: 100%;
}
div[data-style='horizontal'] ul.sub-menu {
    margin: 0;
    padding: 0;
}
div[data-style='horizontal'] ul.sub-menu > li {
    display: block;
    min-width: 180px;
}
 div[data-style='vertical'] ul.sub-menu > li {
    min-width: 120px;
}
 div[data-style="vertical"] ul.sub-menu ul.sub-menu {
    margin-top: -1px;
}
 /* Responsive */
div[data-style='burger'] ul.menu {
    background: #474747;
}
 div.responsive_nav_toggler {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    border: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    opacity: 1;
    z-index: 0;
}
 div.responsive_nav_toggler, .upfront-navigation i.burger_nav_close {
    background: #ufc2;
    color: #ufc5;
    transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}
 div.responsive_nav_toggler:hover, .upfront-navigation i.burger_nav_close:hover {
    background: #ufc5;
    color: #ufc2;
}
 div.responsive_nav_toggler > div {
    width: 16px;
    height: 2px;
    margin-right: 0;
    margin-bottom: 2px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    background: #ufc5;
}
 div.responsive_nav_toggler:hover > div {
    background: #ufc2;
}
 div.responsive_nav_toggler > div:last-child {
    margin-bottom: 0;
}
.upfront-navigation i.burger_nav_close {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
}
div.upfront-navigation div.burger_overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
div.upfront-navigation div[data-style='burger'] ul.menu {
    background: #4a4a4a;
    border-bottom: none;
    padding: 0 20px;
}
div.upfront-navigation div[data-style='burger'][data-burger_alignment='top'] ul.menu {
    padding: 20px;
}
div.upfront-navigation div[data-style='burger'][data-burger_alignment='left'] ul.menu {
    border-right: 1px solid #ufc0;
}
div.upfront-navigation div[data-style='burger'][data-burger_alignment='top'] ul.menu {
    border-bottom: 1px solid #ufc0;
}
 div[data-style='burger'] ul.menu li.menu-item {
    margin-bottom: 5px;
}
 div[data-style='burger'] ul.menu li.menu-item:last-child {
    margin-bottom: 0;
}
 div[data-style='burger'] ul.menu li.menu-item > a {
    color: #ufc2;
    display: block;
    padding: 0;
}
div.upfront-navigation div[data-style="burger"][data-aliment='right'] li.menu-item-has-children > a, div.upfront-navigation div[data-style="burger"][data-aliment='right'] li.parent > a {
    padding: 0 30px;
}
div.upfront-navigation div[data-style="burger"] li.menu-item-has-children > a:after, div.upfront-navigation div[data-style="burger"] li.parent > a:after {
    border-top-color: #ufc2;
}
div.upfront-navigation div[data-style="burger"] li.menu-item-has-children:hover > a:after, div.upfront-navigation div[data-style="burger"] li.parent:hover > a:after, div.upfront-navigation div[data-style="burger"] li.menu-item-has-children.burger_sub_display > a:after, div.upfront-navigation div[data-style="burger"] li.parent.burger_sub_display > a:after {
    border-top-color: transparent;
    margin-top: 10px;
}
 div[data-style='burger'] ul.sub-menu > li.menu-item {
    margin-bottom: 10px;
}
 div[data-style='burger'] ul.sub-menu > li.menu-item > a {
    padding: 0;
    text-align: inherit;
}
div.upfront-navigation div.upfront-navigation[data-style="burger"][data-burger_alignment="left"] ul.menu, div.upfront-navigation div.upfront-navigation[data-style="burger"][data-burger_alignment="right"] ul.menu {
    min-width: 200px;
    max-width: 200px;
    width: auto;
}


/* 133620-1481397524-au */