#page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.menu-item:before {
    content: "/";
    color: #ufc2;
    margin: 0 15px;
}
#page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.menu-item:first-child:before {
    content: "";
    display: none;
}
#page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.menu-item > a {
    color: #ufc2;
    display: inline-block;
    padding: 0;
}
#page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.menu-item > a:hover, #page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.menu-item.current-menu-item > a {
    color: #ufc0;
}
#page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.parent > a, #page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.menu-item.menu-item-has-children > a {
    padding-right: 25px;
}
#page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.parent ~ li.menu-item:before, #page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.menu > li.menu-item.menu-item-has-children ~ li.menu-item:before {
    margin: 0 15px 0 10px;
}
#page .unewnavigation-top-nav-style div[data-style='horizontal'] ul.sub-menu {
    margin: 0 0 0 35px;
}
#page .unewnavigation-top-nav-style div[data-style="horizontal"] ul.sub-menu li.menu-item-depth-1 ul.sub-menu {
    margin-left: 0;
}
#page .unewnavigation-top-nav-style ul.menu li.menu-item-has-children > a:after, #page .unewnavigation-top-nav-style ul.menu li.parent > a:after {
    border-top-color: #ufc2;
}
#page .unewnavigation-top-nav-style ul.menu li.menu-item-has-children:hover > a:after, #page .unewnavigation-top-nav-style ul.menu li.parent:hover > a:after, #page .unewnavigation-top-nav-style ul.menu li.menu-item.burger_sub_display > a:after {
    border-top-color: transparent;
    border-left-color: #ufc0;
}


/* 133620-1481397524-au */